$header-height: 34px;
$toolbar-height: 40px;
$formala-height: 24px;

$db-heaer-height: 64px;

$cell-info-width: 40px;
$cell-width: 120px;
$row-height: 24px;

$green: rgba(10, 85, 14, 0.479);
$gray: rgba(187, 187, 187, 0.479);
