@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formala-height;
  overflow-x: auto;
  padding-bottom: 2px;

  .row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
  }

  .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $cell-info-width;
    height: 100%;
    border: 1px solid $gray;
    background: #f8f9fa;
    border-top: none;
  }

  .row-data {
    display: flex;
  }

  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    border: 1px solid $gray;
    border-top: none;
    border-left: none;
  }

  .cell {
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    border: 1px solid rgba(228, 228, 228, 0.671);
    border-top: none;
    border-left: none;
    color: #111;
    white-space: nowrap;
    outline: none;

    &.selected {
        border: none;
        outline: 2px solid $green;
        z-index: 2;
    }
  }
}
